<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		 <!-- SQL dialect -->
		
		<property name='hibernate.dialect'>org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name='connection.url'>jdbc:mariadb://localhost:3306/agroviewserviagromaq</property>
        <property name='connection.username'>arcosoft</property>
        <property name='connection.password'>arcosoft</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>  
		 
		<!-- <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">70</property>
		<property name="c3p0.acquire_increment">5</property>
		<property name="c3p0.idle_test_period">3000</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.timeout">300</property>   -->
		
		<!-- enable second level cache and query cache
		 <property name="hibernate.cache.use_second_level_cache">false</property>
		 <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property> --> 
		 <!-- <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>-->
		 
		 <!-- <property name="hibernate.cache.use_query_cache">false</property>
 		 <property name="net.sf.ehcache.configurationResourceName">/myehcache.xml</property>-->
		
 		 
 		 <!-- Mejorando la carga de consultas a la BD -->
		    
		<mapping resource="co/com/arcosoft/modelo/DatHerramienta.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/FabricanteEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/MotEstim.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/UdadMed.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ElementoCosto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaInfraestructura.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatMantenimientoEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Transportadora.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ZonaGeografica.hbm.xml" />		
		<mapping resource="co/com/arcosoft/modelo/DatNominaTrabajador.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/AnaSanVeg.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/GroupAuthorities.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoRecursosProfesion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/AgenteCausadorParada.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/PlanRevisionEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/FrenteCos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Variedad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Tag.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/GroupMembers.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EmpaqueProducto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Eventos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/NumeroEje.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TurnoCampo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/N4Motivo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatSanVeg.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/GrpTenen.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaLaborRendimiento.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EstClimat.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoMantenimiento.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/FliaTextSuelo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatTransProd.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/PersEmpr.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/IngredienteActivo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ValorVarAnaTrans.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatProgramaRiegoDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Servicio.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/SistemaRiego.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EquipoEvento.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/LaborCcontable.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaDeduccion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Usuarios.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatRgtroInvent.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoRecursosInsumos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/VehiculosTransp.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/NivelFertilidad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EstEvaporimetro.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Fitosanidad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaProfesion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Cultivo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanLabor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/GrpLaborTenCencos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/LaborAsociada.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/RangoValor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/MotivosEntradaTaller.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Calendario.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatEvaporimetro.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatMantenimientoEquipoProd.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaOtrosDevengos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/MotElim.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ModeloEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoAbastecimiento.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/BombaAbastecimiento.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatProgramaRiego.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ValorVarAnaLab.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CronogramaLaboresNivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanillaNominaOnivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TallerMecanico.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanillaNominaLabor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Medidor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Profesion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoDrenaje.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EstPluvio.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/MotivoCierreOt.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoProducto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatAnaTransProd.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoRecursosOtros.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/LaborServicio.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/IngrActivProd.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ItemsMenu.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CostoRecurso.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ClaseTextSuelo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Infraestructura.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoRecursosEquipos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EquipoTrabajo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/LimiteCeptoNomina.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/MaduranteProducto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/LaborRecursos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Larvas.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoCliente.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatServicio.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Labor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/SerieSuelo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipCultivo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/VariedadNivel4.hbm.xml" />		
		<mapping resource="co/com/arcosoft/modelo/Semana.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatAbastCombustible.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoInfraestructura.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/AnaCultivo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanLaborDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPluvio.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ColorIdentProduccion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaContratista.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatTransProdTrabajadores.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ValorVar.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatClimat.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/GrpSuelo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatMantenimientoEquipoMec.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatServImplemento.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/RestriMaduranteNivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatAplicProdDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Topografia.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatOtrosCostos.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/PlanRevisionEquipoDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Equipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/FlotaTransporte.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/AnaLabCultivo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ModalidadCosecha.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CultivoFitosanidad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Variable.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/OrdenSuelo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/RestrQuema.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Nivel1.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TarifaEquipProp.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CuentaContable.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/SemanaAnio.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/RestrMadurante.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/FactorConversion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ZonasFabrica.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatTransProdDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DistSiembra.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Conductor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatTransProdNivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Trabajador.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatOtrosCostosNivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Organizacion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Recurso.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoRecurso.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/PlanRevisionEquipoActiv.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ContBanco.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Etapa.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ZonAgroec.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatServicioDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Groups.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Producto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EntBanc.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DificultadAcceso.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Compania.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/AnioFiscal.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatNominaTrabajadorDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/RestriccionQuemaNivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Empaque.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/LaraEdad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Pais.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ClaseToxicologica.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Nivel3.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Nivel2.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatRiego.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Moneda.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Nivel4.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanillaNominaDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Bascula.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipProvee.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatEstimCosecha.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/GrpLabor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanillaNomina.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CentCost.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/EstructSiemb.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/PlanAsignarRecurso.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Almacen.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Ciudad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Nivel2Persempr.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ListValor.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Vereda.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CronogramaLaboresLabores.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Tenencia.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Ocupacion.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/Estado.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CategoriaEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/ConceptoNomina.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/FaseFenologica.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/TipoDia.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatAplicProducto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CronogramaLabores.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatOtrosCostosMqdet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatHorasTrabajoEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatServRealizadosEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatServRealizadosEquipoDet.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/CompartimientosEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/SistemasEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatReporteFallas.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatCheckListEquipo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatPlanAnualFabrica.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/AreaTrabajo.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/NivelPrioridad.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatSolicitudesMtto.hbm.xml" />
		<mapping resource="co/com/arcosoft/modelo/DatParadasFabrica.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/PlanRevisionEquipoRecursos.hbm.xml" />       
        <mapping resource="co/com/arcosoft/modelo/VariableLab.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/AnaLaboratorio.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/AnaLaboratorioVariable.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatAnaLaboratorio.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatAnaLaboratorioDet.hbm.xml" />
	  	<mapping resource="co/com/arcosoft/modelo/LogBascula.hbm.xml" />     
        <mapping resource="co/com/arcosoft/modelo/DatNominaTrabajadorMq.hbm.xml" />      
        <mapping resource="co/com/arcosoft/modelo/CajaMenor.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/ConceptoKardex.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatCajaMenor.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatCajaMenorDet.hbm.xml" />        
        <mapping resource="co/com/arcosoft/modelo/DatCompraProductos.hbm.xml" />
	  	<mapping resource="co/com/arcosoft/modelo/DatCtrlMaqPines.hbm.xml" />     	  	
	  	<mapping resource="co/com/arcosoft/modelo/DatDiferidos.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatDiferidosCuotas.hbm.xml" />        
        <mapping resource="co/com/arcosoft/modelo/DatDiferidosDet.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatFacturaServicios.hbm.xml" /> 
        <mapping resource="co/com/arcosoft/modelo/DatNominaTrabajadorMqdet.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatOtrosCostosMq.hbm.xml" />        
        <mapping resource="co/com/arcosoft/modelo/DatOtrosCostosMqdetDistribuccion.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatOtrosMovInventario.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatPagosNotasClientes.hbm.xml" />
	  	<mapping resource="co/com/arcosoft/modelo/DatPlanServiciosMq.hbm.xml" />  	  	   	  	
	  	<mapping resource="co/com/arcosoft/modelo/DatPlanServiciosMqdet.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatPlanServiciosMqdetEjec.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatReqProductos.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatReqProductosDet.hbm.xml" />        
        <mapping resource="co/com/arcosoft/modelo/EquipoImplemento.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/LaborAdicionalMo.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/LogDatServRealizadosEquipo.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/Nivel2Clientesmq.hbm.xml" />        
        <mapping resource="co/com/arcosoft/modelo/Nivel4Clientesmq.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/PrecioPromProd.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/TablaAnalitica.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/TablaAnaliticaDetalle.hbm.xml" />
            	  	
	  	<mapping resource="co/com/arcosoft/modelo/DatDiferidosAgricola.hbm.xml" />        
        <mapping resource="co/com/arcosoft/modelo/DatDiferidosAgricolaDet.hbm.xml" />    
        <mapping resource="co/com/arcosoft/modelo/DatDiferidosCuotasAgricolas.hbm.xml" />
        
        <mapping resource="co/com/arcosoft/modelo/PlanRevisionProd.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/PuntosLubricacion.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatCheckListEquipoLabor.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatCheckListEquipoDet.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatOtrosCostosDetalle.hbm.xml" />
        
        <mapping resource="co/com/arcosoft/modelo/UbicacionesAlmacen.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatMantenimientoEquipoPlanRevision.hbm.xml" />
        
        <mapping resource="co/com/arcosoft/modelo/SubTipoCotizante.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/TipoCotizante.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatProvicionesCierreNomina.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatProvicionesCierreNominaMq.hbm.xml" />
     	<mapping resource="co/com/arcosoft/modelo/PrecioPromMateriaPrima.hbm.xml" />
        <mapping resource="co/com/arcosoft/modelo/DatCompraMateriaPrima.hbm.xml" />
          <mapping resource="co/com/arcosoft/modelo/TarifasArl.hbm.xml" />
           <mapping resource="co/com/arcosoft/modelo/DatFacturaServiciosTerceros.hbm.xml" />  
            <mapping resource="co/com/arcosoft/modelo/DatProductosRelacionados.hbm.xml" /> 
	</session-factory>
</hibernate-configuration>
